.navbar ul {
  display: flex;
  justify-content: space-between;
  background-color: rgb(14, 13, 13);
  padding-bottom: 30px;
}

.logo {
  width: 150px;
  margin-top: -34px;
  margin-bottom: -50px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  line-height: 1.5;
  text-decoration: none;
  /* Delete this to have the border in apply.html
  outline: none;
  border: none; */
}

.navbar ul li {
  list-style-type: none;
  margin-top: 20px;
}

.navbar ul li a.navbar-item.active {
  background-color: #32cd32;
  color: black;
  font-weight: bold;
  padding-top: 22px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 32.5px;
}

.navbar-item {
  color: #fff;
  padding: 12px 16px;
  height: 100%;
}

.navbar-item:hover {
  background-color: rgb(86, 216, 35);
  color: #000000;
  padding: 33px;
}

.back-G {
  background: #fff;
  padding: 50px 20px;
}

.h1 {
  font-size: 40px;
  text-align: center;
  color: rgb(30, 94, 30);

}

.hiring-container {
  color: rgb(0, 0, 0);
  font-family: sans-serif;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
}

.text-item {
  padding-top: 30px;
}

.text-item p {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.text-item ul {
  margin-left: 20px;
  list-style-type: none;
  text-align: center;
}

.text-item li {
  margin-bottom: 8px;
}

.banner1 {
  margin-left: -100px;
}

.banner2 {
  margin-right: -100px;
}

.end-line {
  display: block;
  color: gray;
  border-style: inset;
  border-width: 1px;
  margin: 20px;
}

.highlight {
  color: rgb(8, 128, 8);
}

.h2 {
  display: block;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.h2 span {
  text-align: center;
  color: rgb(105, 104, 104);
  font-size: 18px;
}

.wrap-content {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
}

.logo-content {
  text-align: center;
  width: 150px;
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}

.logo-content p {
  font-size: 20px;
}

.logo-width {
  width: 80px;
  height: 80px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.icon-text {
  color: #384148;
  font-size: 14px;
  margin: 12px, 0px, 0px;
}

.search-wrap {
  padding-top: 50px;
}

.text-list {
  color: #384148;
}

.job-section {
  padding-bottom: 80px;
}

.job-section ul {
  padding-top: 100px;
  flex-direction: column;
}

.job-categories ul {
  display: inline-flex;
  list-style-type: none;
  padding-left: 150px;
}

.title {
  padding-bottom: 20px;
}

#apply-button {
  background-color: #000000;
  padding-bottom: 20px;
  padding-top: 20px;
  margin-right: -20px;
  padding-left: -20px;
  margin: auto;
  color: #fff;
  text-align: center;
  /* <<<<<<< HEAD */
  border-radius: 10px;
  /* ======= */
  width: 15%;
}

/* >>>>>>> e45598e0a344f025ba5e94394b908b569a1b592f
} */

.colortext-button a {
  color: white
}

#apply-button:hover {
  background-color: green;
  color: #000000;
  transform: translateX(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.fb-heading {
  padding-top: 40px;
  font-size: 30px;
  color: #1E5E1E;
}

.employee-feedback {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-left: 150px;
  padding-right: 150px;
}

.feedback {
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  width: 30%;
  background-color: #f5f2f2;
}

.feedback img {
  border-radius: 80px;
  width: 100px;
}

.feedback:hover {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.benefit-heading h2 {
  padding-top: 80px;
  text-align: center;
  color: #1E5E1E;
}

.benefit-card-line1 {
  display: flex;
  justify-content: space-around;
  padding-top: 40px;
  padding-left: 150px;
  padding-right: 150px;
}

.benefit-card-line2 {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
  padding-left: 150px;
  padding-right: 150px;
}

.card1-2-3-4-5-6 {
  text-align: center;
  border-radius: 15px;
  padding: 20px;
  width: 30%;
  background-color: #f5f2f2;
}

.card1-2-3-4-5-6:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.logo-and-appicons {
  display: flex;
  justify-content: space-around;
  padding-top: 80px;
  padding-bottom: 40px;
}

.logo-and-appicons p i {
  padding-right: 20px;
  padding-left: 20px;
}

i {
  font-size: 30px;
}

.appicons i {
  padding-right: 50px;
}

.fb {
  color: blue;
}

.yt {
  color: red;
}

.ig {
  color: rgba(241, 2, 230, 0.616);
}

.tiktok {
  color: black;
}

.ending-section {
  padding-bottom: 40px;
}

.end-text {
  text-align: center;
}

a .end-text p {
  margin-top: 25px;
}

/* <<<<<<< HEAD */
/* Css of about.html */
/* Css of about.html */
/* Css of about.html */
/* Css of about.html */





.header-about {
  padding-top: 40px;
  padding-left: 600px;
}

.our-group ul li {
  list-style-type: none;
  font-size: 1rem;
  padding-top: 5px;
}

.our-group h1 {
  color: rgb(12, 100, 12);
}

.our-group dt {
  padding-top: 20px;
}

.our-group dd {
  padding-left: 20px;
}

.table-container {
  padding-top: 10px;
  padding-left: 600px;
}

table {
  border-collapse: collapse;
  width: 60%;
}

.table-heading1 th {
  background-color: #ececec;
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  background-color: #c7f0db;
}

.table-body1 td {
  border: 1px solid #000;
  padding: 8px;
}

.table-body2-3-4-5 th {
  background-color: #ececec;
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  background-color: #c7f0db;
}

.table-body2-3-4-5 td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.table {
  padding-top: 35px;

}

.table-body2-3-4-5-6 tr th :hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.table h2 {
  color: #008f4c
}

.contact {
  padding-top: 40px;
  display: flex;
}

.contact p {
  padding-left: 30px;
  margin-top: 4px;
  font-size: 20px;
}

/* CSS of jobs Description */
/* CSS of jobs Description */
/* CSS of jobs Description */
/* CSS of jobs Description */
/* ======= */

/* <<<<<<< HEAD */
/* Css of about.html */
/* Css of about.html */
/* Css of about.html */
/* Css of about.html */





.header-about {
  padding-top: 40px;
  padding-left: 600px;
}

.our-group ul li {
  list-style-type: none;
  font-size: 1rem;
  padding-top: 5px;
}

.our-group h1 {
  color: rgb(12, 100, 12);
}

.our-group dt {
  padding-top: 20px;
}

.our-group dd {
  padding-left: 20px;
}

.table-container {
  padding-top: 10px;
  padding-left: 600px;
}

table {
  border-collapse: collapse;
  width: 60%;
}

.table-heading1 th {
  background-color: #ececec;
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  background-color: #c7f0db;
}

.table-body1 td {
  border: 1px solid #000;
  padding: 8px;
}

.table-body2-3-4-5 th {
  background-color: #ececec;
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
  background-color: #c7f0db;
}

.table-body2-3-4-5 td {
  border: 1px solid #000000;
  padding: 8px;
  text-align: left;
}

.table {
  padding-top: 35px;

}

.table-body2-3-4-5-6 tr th :hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.table h2 {
  color: #008f4c
}

.contact {
  padding-top: 40px;
  display: flex;
}

.contact p {
  padding-left: 30px;
  margin-top: 4px;
  font-size: 20px;
}


/* Apply Page */
.apply-box {
  max-width: 900px;
  padding: 30px;
  background-color: #f5f2f2;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(1, 1, 1, 0.1);
  border-radius: 20px;
  position: relative;
  top: 50px;
}

.apply-box input,
.apply-box textarea,
.apply-box select {
  font-size: 18px;
  margin: 5px;
  margin-top: 10px;
  border: 1px;
  border-radius: 8px;
  padding: 10px 0px;
  width: auto;
  padding-left: 5px;
}

.form-header {
  font-size: 26px;
  display: flex;
  justify-content: center;
}

.form-logo {
  width: 219px;
  height: 138px;
}

#header-text {
  padding-top: 42px;
  padding-left: 35px;
  font-weight: bold;
}

.form-heading {
  font-size: 23px;
  padding-top: 25px;
  font-weight: bold;
}

.end-line-heading {
  margin: 15px;
}

.name {
  display: flex;
  justify-content: space-between;
  margin-top: -25px;
}

.fill-info-container {
  margin-top: 20px;
  margin-right: 13px;
}

.address {
  display: flex;
}

.address #state-selection {
  padding: 11.5px 18px
}

.gender fieldset {
  padding-top: 10px
}

.contact-information {
  display: flex;
}

#email {
  margin-right: 94px;
}

.skills fieldset {
  padding-top: 10px;
}

.other-skills p {
  padding-bottom: 10px;
}

#other-skills {
  width:100%;
}

#submit-button {
  background-color: rgb(8, 128, 8);
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 8px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 10px;
  color: #fff;
  width: 10%;
}

#submit-button:hover {
  color: #000000;
}

#reset-button {
  background-color: #000000;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 8px;
  padding-left: 8px;
  margin: auto;
  margin-left: 20px;
  color: #fff;
  text-align: center;
  width: 10%;

}

#reset-button:hover {
  color: #000000;
  background-color: #dbdbdb;
}

@media (max-width: 460px) {

  .form-header hr,
  .form-logo {
    display: none;
  }

  #header-text {
    padding-top: 15px;
    padding-left: 5px;
  }

  .apply-box input,
  .gender input,
  .apply-box textarea,
  .apply-box select {
    width: 100%;
  }

  .gender input,
  .skills input {
    font-size: 18px;
    margin-top: 10px;
    width: auto;
  }

  .name {
    position: relative;
    top: 15px;
  }

  .name,
  .address,
  .contact-information {
    display: block;
  }

  #submit-button,
  #reset-button {
    width: auto;
  }
}

/* Job Description CSS */

body {
  zoom: 0.8;
}

.summarise-job-line1 {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  padding-top: 30px;
}

.summarise-job-line2 {
  display: flex;
  justify-content: space-around;
}

.job-emoji {
  width: 55px;
}

.short-description-box {
  border-radius: 10px;
  background-color: #f5f2f2;
  padding: 40px;
  width: 30%;
}

.short-description-box:hover {
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.6s ease-in-out, box-shadow 0.6s ease-in-out;
}

.box-title {
  font-weight: bold;
  font-size: 18px;
}

.show-button {
  position: relative;
  top: 10px;
}

.jobs-list {
  position: relative;
  top: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.job-title {
  color: rgb(8, 128, 8);
  font-size: 22px;
  margin-top: 15px;
}

.job-detail {
  display: none;
}

.job-detail:target {
  display: block;
}

.description-text p {
  margin-top: 10px;
  margin-bottom: 10px;
}

.description-text ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 460px) {
  .summarise-job-line1 {
    display: block;
    padding-bottom: 0px;
  }

  .summarise-job-line2 {
    display: block;
  }

  .short-description-box {
    width: 100%;
    margin-top: 15px;
  }

  .jobs-list {
    padding-left: 40px;
    padding-right: 35px;
    text-align: justify;
  }
}