.navbar ul {
  display: flex;
  justify-content: space-around;
  background-color: rgb(14, 13, 13);
  padding-bottom: 30px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  text-decoration: none;
  /* Delete this for appearing the box in apply.html
    outline: none;
    border: none;
  outline: none;
  border: none; */
}

.navbar ul li {
  list-style-type: none;
  margin-top: 20px;
}

.navbar-item {
  color: #fff;
  padding: 12px 16px;
  height: 100%;
}

.navbar-item:hover {
  background-color: rgb(12, 12, 12);
  color: #d31919;
  padding: 33px;
}

.back-G {
  margin-top: 30px;
}

.text-container {
  background-color: #000;
  color: white;
  font-family: sans-serif;
  margin-top: 50px;

}

.text-item {
  padding-top: 30px;
}

.button {
  border-color: #000;
  border-width: 5px;
  background-color: #000;
  color: white;
}